<nav id="sidebar">
    <div class="sidebar-header">
        <h3>QUICKSTART</h3>
    </div>

    <ul class="list-unstyled components">
        <li id="index">
            <a href="/">Home</a>
        </li>
        <li id="features">
            <a href="#featuresSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Features</a>
            <ul class="collapse list-unstyled" id="featuresSubmenu">
                <li>
                    <a href="/features#dataManagement">Data Management</a>
                </li>
                <li>
                    <a href="/features#dataAnalytics">Data Analytics</a>
                </li>
                <li>
                    <a href="/features#security">Security</a>
                </li>
            </ul>
        </li>
        <li id="userGuide">
            <a href="#userGuideSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User Guide</a>
            <ul class="collapse list-unstyled" id="userGuideSubmenu">
                <li>
                    <a href="/userGuide#page1">Page 1</a>
                </li>
                <li>
                    <a href="/userGuide#page2">Page 2</a>
                </li>
                <li>
                    <a href="/userGuide#page3">Page 3</a>
                </li>
            </ul>
        </li>
        <li id="about">
            <a href="/about">About</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <!--<li>
            <a href="#" class="link1">Some Button</a>
        </li>-->
        <li>
            <a href="https://github.com/WeiLiangLOL/quickstart" class="link2">Our Github</a>
        </li>
    </ul>
</nav>