<nav id="sidebar">
    <div class="sidebar-header">
        <h3>QUICKSTART</h3>
    </div>

    <ul class="list-unstyled components">
        <!--<p>I'll make this nicer maybe</p>-->
        <li class="active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#featuresSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Features</a>
            <ul class="collapse list-unstyled" id="featuresSubmenu">
                <li>
                    <a href="#">Data Management</a>
                </li>
                <li>
                    <a href="#">Data Analytics</a>
                </li>
                <li>
                    <a href="#">Security</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#userGuideSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User Guide</a>
            <ul class="collapse list-unstyled" id="userGuideSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <!--<li>
            <a href="#" class="link1">Some Button</a>
        </li>-->
        <li>
            <a href="https://github.com/WeiLiangLOL/quickstart" class="link2">Our Github</a>
        </li>
    </ul>
</nav>