<!DOCTYPE html>
<html>

<head>
  <%# html viewport %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= title %></title>

  <%# css dependencies  %>
  <% include partials/dependencies/style %>
</head>

<body>

  <div class="wrapper">
    <%# sidebar %>
    <% include partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include partials/navbar %>

      <div class="content">

        <div class="container-fluid">

          <h2>About Us</h2>
          <p>Nisl rhoncus mattis rhoncus urna neque viverra justo. Risus commodo 
          viverra maecenas accumsan lacus vel. Enim nec dui nunc mattis enim. 
          Orci nulla pellentesque dignissim enim sit. Posuere ac ut consequat 
          semper viverra nam libero justo. Massa placerat duis ultricies lacus 
          sed turpis tincidunt. Non tellus orci ac auctor augue. Sem viverra 
          aliquet eget sit amet tellus cras. Tortor at auctor urna nunc id. 
          Tincidunt vitae semper quis lectus. Etiam dignissim diam quis enim 
          lobortis scelerisque fermentum. Porttitor eget dolor morbi non arcu risus.</p>

          <div class="line"></div>

        </div>

      </div>

    </div>
  </div>

  <%# js dependencies  %>
  <% include partials/dependencies/script %>
</body>

</html>