<!DOCTYPE html>
<html>

<head>
    <%# html viewport %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= title %></title>

    <%# css dependencies  %>
    <% include partials/dependencies/style %>
</head>

<body>

    <div class="wrapper">
        <div id="content">
            <h2>Restricted page</h2>
            Congratulations, you are in a restricted page<br><br>
            <a href='/'>Click here to go home</a><br><br>
            <a href='/auth/logout'>Click here to logout</a>
        </div>
    </div>

    <%# js dependencies  %>
    <% include partials/dependencies/script %>
</body>

</html>