<!DOCTYPE html>
<html>

<head>
  <%# html viewport %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= title %></title>

  <%# css dependencies  %>
  <% include partials/dependencies/style %>
</head>

<body>

  <div class="wrapper">
    <%# sidebar %>
    <% include partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include partials/navbar %>

      <div class="content">

        <div class="container-fluid">
          
          <h2>Create a new user</h2>
          <form action="/db/createuser" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"> <span style="color: red; font-size: 1.2em;">*</span><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"> <span style="color: red; font-size: 1.2em;">*</span><br>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname"> <span style="color: red; font-size: 1.2em;">*</span><br>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname"> <span style="color: red; font-size: 1.2em;">*</span><br>
            <label for="cellphone">Phone Number:</label>
            <input type="text" id="cellphone" name="cellphone"><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br>
            <label for="date_of_birth">Date of Birth:</label>
            <input type="date" id="date_of_birth" name="date_of_birth"><br>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender"><br>
            <label for="nationality">Nationality:</label>
            <input type="text" id="nationality" name="nationality"><br>
            <label for="allow_login">Allow Login:</label>
            <input type="checkbox" id="allow_login" name="allow_login"><br>
            <input type="submit" value="Submit">
          </form>
        </div>

      </div>

    </div>
  </div>

  <%# js dependencies  %>
  <% include partials/dependencies/script %>
</body>

</html>