<!DOCTYPE html>
<html>

<head>
  <%# html viewport %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= title %></title>

  <%# css dependencies  %>
  <% include partials/dependencies/style %>
  
  <script>
    function showMsg(message) {
        document.getElementById("showMessage").innerHTML = message;
    }
  
    function deleteGroup(groupname) {
		var xhttp = new XMLHttpRequest();
		xhttp.onload = function() { 
            populateGroupTable();
            if (this.status === 200) showMsg("Success");
            else showMsg(JSON.parse(this.responseText).message);
        };
		xhttp.open('DELETE', '/api/groups/' + groupname);
		xhttp.send();
    }
    
    function deleteGroupBtn(groupname) {
        groupname = "'" + groupname + "'";
		var code = '';
		code += '<button onclick="deleteGroup(' + groupname + ')">';
		code += 'Delete';
		code += '</button>';
		return code;
	}
  
	function populateGroupTable() {
		var xhttp = new XMLHttpRequest();
		xhttp.onload = function() {
            var table = document.getElementById("groupTable");
            table.innerHTML = "<tr><th>Name</th><th>Parent</th><th></th></tr>";
            JSON.parse(this.responseText).forEach(entry => {
                var row = table.insertRow(-1);
                row.insertCell(-1).innerHTML = entry.groupname;
                row.insertCell(-1).innerHTML = entry.supergroup;
                row.insertCell(-1).innerHTML = deleteGroupBtn(entry.groupname);
            });
		};
		xhttp.open("GET", "/api/groups/", true);
		xhttp.send();
	}
    
    function addGroup() {
        var groupname = document.getElementById("groupname").value;
        var supergroup = document.getElementById("supergroup").value;
        
		var xhttp = new XMLHttpRequest();
		xhttp.onload = function() {
            populateGroupTable(); 
            if (this.status === 201) showMsg("Success");
            else showMsg(JSON.parse(this.responseText).message);
        };
		xhttp.open('POST', '/api/groups/');
        xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        var params = 'groupname=' + groupname + '&supergroup=' + supergroup;
		xhttp.send(params);
    }
	
  </script>
</head>

<body onload="populateGroupTable()">

  <div class="wrapper">
    <%# sidebar %>
    <% include partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include partials/navbar %>

      <div class="content">

        <div class="container-fluid">
		  
          <p id="showMessage"></p>
          
          <h2>Group</h2>
		  <table id="groupTable">
		  </table>
          <button onclick="populateGroupTable()">Refresh</button>
          
		  <h2>Add Group</h2	>
            <label for="groupname">Group Name:</label>
            <input type="text" id="groupname" name="groupname"><br>
            <label for="supergroup">Super Group:</label>
            <input type="text" id="supergroup" name="supergroup"><br>
            <button onclick="addGroup()">Submit</button>
		  
        </div>

      </div>

    </div>
  </div>

  <%# js dependencies  %>
  <% include partials/dependencies/script %>
</body>

</html>