<!DOCTYPE html>
<html>

<head>
  <title><%= app.name %> - Guide</title>

  <%# meta  %>
  <% include ../../partials/meta %>

  <%# css dependencies  %>
  <% include ../../partials/style %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/userguide.css">
</head>

<body>

  <div class="wrapper">
    <%# sidebar %>
    <% include ../../partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include ../../partials/navbar %>

      <div class="content">

        <div class="container-fluid">

          <h4>Login</h4>
          <p>Click on the login button on the top right of the page</p>
          <img src="/images/userguide/ug_general_1.jpg" alt="Location of login button">
          <p>Login with these credentials</p>
          <p>Username: test</p>
          <p>Password: 1234</p>
          <img src="/images/userguide/ug_general_2.jpg" alt="Image of Login page">

          <div class="line"></div>

          <h4>Navigation</h4>
          <p>Once logged in, click home to return to home page</p>
          <img src="/images/userguide/ug_general_3.jpg" alt="Location of home page button">
          <br><br>
          <p>Once logged in, click your username to enter the authenticated page</p>
          <img src="/images/userguide/ug_general_4.jpg" alt="Location of authenticated page button">

          <div class="line"></div>

          <h4>Logout</h4>
          <p>To logout, click the inverted triangle on the top right hand corner<br>
              A menu with the logout button will come up. Click the logout button</p>
          <img src="/images/userguide/ug_general_5.jpg" alt="Location of logout button">


          <div class="line"></div>

        </div>

      </div>

    </div>
  </div>

  <%# js dependencies  %>
  <% include ../../partials/script %>
</body>

</html>
