<!DOCTYPE html>
<html>

<head>
  <title><%= app.name %> - Dashboard</title>

  <%# meta  %>
  <% include ../../partials/meta %>

  <%# css dependencies  %>
  <% include ../../partials/style %>
</head>

<body>

  <div class="wrapper">
    <%# sidebar %>
    <% include ../../partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include ../../partials/navbar %>

      <div class="content">

        <div class="container-fluid">
          
          <h2>Dashboard</h2>

        </div>

      </div>

    </div>
  </div>

  <%# js dependencies  %>
  <% include ../../partials/script %>
</body>

</html>