<nav id="sidebar">
    <div class="sidebar-header">
        <h3>QUICKSTART</h3>
    </div>

    <ul class="list-unstyled components">
        <li id="user/announcement">
            <a href="/user/announcement">Announcement</a>
        </li>
        <li id="user/dashboard">
            <a href="/user/dashboard">Dashboard</a>
        </li>
        <li id="user/forms">
            <a href="/user/forms">Forms</a>
        </li>
        <li id="userMgmt">
            <a href="#userMgmtSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User Management</a>
            <ul class="collapse list-unstyled" id="userMgmtSubmenu">
                <li id="user/user">
                    <a href="/user/user">User</a>
                </li>
                <li id="user/group">
                    <a href="/user/group">Group</a>
                </li>
            </ul>
        </li>
        <li id="dataMgmt">
            <a href="#dataMgmtSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Data Management</a>
            <ul class="collapse list-unstyled" id="dataMgmtSubmenu">
                <li id="user/viewMyData">
                    <a href="/user/viewMyData">View My Data</a>
                </li>
                <li id="user/storage">
                    <a href="/user/storage">Storage</a>
                </li>
                <li id="user/analysis">
                    <a href="/user/analysis">Analysis</a>
                </li>
            </ul>
        </li>
        <li id="user/createuser">
            <a href="/user/createuser">Create User</a>
        </li>
        
        <!--<li id="user/createuser">
            <a href="/user/createuser">Create User</a>
        </li>-->
        <!--<li id="broken">
            <a href="#featuresSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">broken</a>
            <ul class="collapse list-unstyled" id="featuresSubmenu">
                <li>
                    <a href="/features#dataManagement">Data Management</a>
                </li>
                <li>
                    <a href="/features#dataAnalytics">Data Analytics</a>
                </li>
                <li>
                    <a href="/features#security">Security</a>
                </li>
            </ul>
        </li>-->
    </ul>

    <ul class="list-unstyled CTAs">
        <!--<li>
            <a href="#" class="link1">Some Button</a>
        </li>-->
        <li>
            <a href="https://github.com/WeiLiangLOL/quickstart" class="link2">Our Github</a>
        </li>
    </ul>
</nav>