<!DOCTYPE html>
<html>

<head>
  <title><%= app.name %> - Analysis</title>

  <%# meta  %>
  <% include ../../partials/meta %>

  <%# css dependencies  %>
  <% include ../../partials/style %>
</head>

<body>

  <div class="wrapper">
    <%# sidebar %>
    <% include ../../partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include ../../partials/navbar %>

      <div class="content">

        <div class="container-fluid">

          <h2>Analysis</h2>
          <p>Hello sorry this is not implemented. You will be redirected in
            <b class="red-time">5</b> second(s).
          </p>

        </div>

      </div>

    </div>
  </div>

  <%# js dependencies  %>
  <% include ../../partials/script %>
  
  <%# oh man there is nothing here, why dont i just redirect the page for us %>
  <script>
    let seconds = 5;

    setInterval(() => {
      seconds--;
      if (seconds == 0)
        window.location = window.location.origin + '/announcement';

      $('.red-time').html(seconds);
    }, 1000);
  </script>
</body>

</html>
