<!DOCTYPE html>
<html>

<head>
    <title><%= app.name %> - Dashboard</title>

    <%# meta  %>
    <% include ../../partials/meta %>

    <%# css dependencies  %>
    <% include ../../partials/style %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/storage/files.css">
    <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator.min.css" rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <%# sidebar %>
        <% include ../../partials/sidebar %>

        <%# page content  %>
        <div id="content">

            <%# navbar %>
            <% include ../../partials/navbar %>

            <div class="content">
                <div id="rootPane"></div>
            </div>

        </div>
    </div>

    <%# js dependencies  %>
    <% include ../../partials/script %>

    <%# JSTree %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js"></script>

    <%# Tabulator %>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>

    <%# ReactJS %>
    <!-- Note: TODO: when deploying, replace "development.js" with "production.min.js".-->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <script src="/javascripts/storage/ajax.js"></script>
    <script src="/javascripts/storage/filesJSTree.js"></script>
    <script src="/javascripts/storage/files.js"></script>
    <script src="/javascripts/storage/tabulator.js"></script>

    <%# React scripts %>
    <script src="/javascripts/storage/react/App.js"></script>
    <script src="/javascripts/storage/react/Main.js"></script>
    <script src="/javascripts/storage/react/GroupList.js"></script>
    <script src="/javascripts/storage/react/FileList.js"></script>
    <script src="/javascripts/storage/react/MetaList.js"></script>
    <script src="/javascripts/storage/react/TabulatorUserACL.js"></script>
    <script src="/javascripts/storage/react/TabulatorGroupACL.js"></script>

</body>
</html>
