<!DOCTYPE html>
<html>

<head>
  <title><%= app.name %> - About</title>

  <%# meta  %>
  <% include ../partials/meta %>

  <%# css dependencies  %>
  <% include ../partials/style %>
</head>

<body>

  <div class="wrapper">
    <%# sidebar %>
    <% include ../partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include ../partials/navbar %>

      <div class="content">

        <div class="container-fluid">

          <h2>About Us</h2>
          <p>We are a bunch of really tired souls. This is our orbital project. We are glad this is over, we have learnt
            quite a few interesting quirks about this framework as well as experimented with deployment on a web
            platform. We believe that our endeavours will be beneficial to us in the future, and thank you for joining
            us in this learning journey. Please gib us our credits. SNIFF.</p>

          <div class="mt-5 mb-5 ml-5">
            <h4>JieXiang</h4>
            <p>Lead developer, plans architecture of database and server. Developed main functionality of webservice.
              Tanked report writing. Very tired, dying. Clocked over 200h+.</p>
          </div>

          <div class="mt-5 mb-5 ml-5">
            <h4>WeiLiang</h4>
            <p>The one currently typing this. Pretty tired as well. Works a part time job while doing orbital, has
              constant nightmares. In charge of videoing and graphics design. Dying as well.</p>
            <p>An excellent partner that never fails to enlighten you with good SE practices. He's the lead frontend 
              designer and developer, is very skilled in git, and introduced many useful libraries to fortify our backend.
              Rumour has it that he writes elegant code on the first draft.</p>
          </div>

          <div class="line"></div>

        </div>

      </div>

    </div>
  </div>

  <%# js dependencies  %>
  <% include ../partials/script %>
</body>

</html>
