<!DOCTYPE html>
<html>

<head>
    <title><%= app.name %> - Error</title>

    <%# meta  %>
    <% include partials/dependencies/meta %>

    <%# css dependencies  %>
    <% include partials/dependencies/style %>
</head>

<body>
    <div class="wrapper">
        <div id="content">
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre>
        </div>
    </div>

    <%# js dependencies  %>
    <% include partials/dependencies/script %>
</body>

</html>