<!DOCTYPE html>
<html>

<head>
    <%# html viewport %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/favicon.ico">

    <title>Error</title>

    <%# css dependencies  %>
    <% include partials/dependencies/style %>
</head>

<body>

    <div class="wrapper">
        <div id="content">
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre>
        </div>
    </div>

    <%# js dependencies  %>
    <% include partials/dependencies/script %>
</body>

</html>
