<!DOCTYPE html>
<html>

<head>
  <%# html viewport %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/img/favicon.ico">

  <title><%= title %></title>

  <%# css dependencies  %>
  <% include partials/dependencies/style %>
</head>

<body>

  <div class="wrapper">
    <%# sidebar %>
    <% include partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include partials/navbar %>

      <div class="content">

        <div class="container-fluid">

          <h2>Data Management</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. In dictum non consectetur a erat nam
          at lectus urna. Ut tellus elementum sagittis vitae. Lacinia quis vel eros donec
          ac odio tempor. Id aliquet risus feugiat in ante. Sit amet mattis vulputate enim
          nulla aliquet porttitor. Dignissim convallis aenean et tortor. Odio aenean sed
          adipiscing diam. Sed vulputate odio ut enim blandit volutpat maecenas. Sit amet
          commodo nulla facilisi. Sed cras ornare arcu dui vivamus arcu felis bibendum.
          Aenean pharetra magna ac placerat vestibulum. Laoreet id donec ultrices tincidunt
          arcu. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Vestibulum
          morbi blandit cursus risus at ultrices mi tempus.</p>

          <div class="line"></div>

          <h2>Data Analytics</h2>
          <p>Aenean euismod elementum nisi quis eleifend quam. Elit pellentesque habitant
          morbi tristique senectus et netus et malesuada. Enim nunc faucibus a pellentesque
          sit amet. Rutrum quisque non tellus orci ac auctor. Nibh nisl condimentum id
          venenatis a. Integer feugiat scelerisque varius morbi. Risus in hendrerit gravida
          rutrum quisque. Vitae proin sagittis nisl rhoncus. Augue neque gravida in fermentum
          et sollicitudin ac. In ante metus dictum at tempor. Morbi tincidunt ornare massa
          eget egestas purus viverra accumsan. Ultrices neque ornare aenean euismod elementum
          nisi quis eleifend. At ultrices mi tempus imperdiet nulla. Enim nulla aliquet
          porttitor lacus luctus. Venenatis lectus magna fringilla urna porttitor rhoncus
          dolor purus non. Dolor purus non enim praesent. Proin libero nunc consequat
          interdum varius sit amet. Elementum eu facilisis sed odio morbi quis commodo odio.
          Scelerisque varius morbi enim nunc faucibus a pellentesque sit.</p>

          <div class="line"></div>

          <h2>Security</h2>
          <p>Aliquam sem et tortor consequat id porta nibh venenatis cras. Consectetur lorem
          donec massa sapien faucibus et molestie ac. Nulla malesuada pellentesque elit eget
          gravida cum sociis natoque. Turpis in eu mi bibendum neque egestas congue quisque.
          A diam maecenas sed enim. Purus non enim praesent elementum facilisis leo vel. Sed
          adipiscing diam donec adipiscing tristique risus. Facilisi morbi tempus iaculis urna.
          Magna eget est lorem ipsum dolor sit amet consectetur adipiscing. Quam elementum
          pulvinar etiam non quam lacus suspendisse. Mi eget mauris pharetra et ultrices neque.
          Ut consequat semper viverra nam libero justo laoreet sit amet. Quis enim lobortis
          scelerisque fermentum dui faucibus. Commodo elit at imperdiet dui accumsan sit amet
          nulla facilisi. Diam maecenas ultricies mi eget mauris pharetra et ultrices neque.</p>

          <div class="line"></div>

        </div>

      </div>

    </div>
  </div>

  <%# js dependencies  %>
  <% include partials/dependencies/script %>
</body>

</html>
