<!DOCTYPE html>
<html>

<head>
  <title><%= app.name %></title>

  <%# meta  %>
  <% include partials/dependencies/meta %>

  <%# css dependencies  %>
  <% include partials/dependencies/style %>
</head>

<body>

  <div class="wrapper">
    <%# sidebar %>
    <% include partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include partials/navbar %>

      <div class="content">

            <div class="container-fluid">

              <h2>Welcome to <%= app.name %>!</h2>
              <p><%= app.name %> is an athlete management system for sports institutions to store
                and manage their athlete's data.</p>

              <div class="line"></div>

            </div>

          </div>

        </div>
  </div>

  <%# js dependencies  %>
  <% include partials/dependencies/script %>
</body>

</html>