<!DOCTYPE html>
<html>

<head>
  <%# html viewport %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/img/favicon.ico">

  <title><%= title %></title>

  <%# css dependencies  %>
  <% include partials/dependencies/style %>
  <link rel='stylesheet' href='/stylesheets/login.css' />

</head>

<body>

  <div class="login-page">
    <div class="form">
      <form class="login-form" action="/login" method="post">
        <div class="spanning-title">
          <h1><a href="/">QuickStart
              <span class="logo-badges">
                <span class="logo-badge blue"></span>
                <span class="logo-badge green"></span>
                <span class="logo-badge orange"></span>
              </span></a>
          </h1>
        </div>
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <button>login</button>
        <p> </p>
        <p id="err-msg" class="message" style="display: none;">Invalid username or password</p>
        <p class="message">By the way, the username is 'test', and the password is '1234'.</p>
      </form>
    </div>
  </div>

  <%# js dependencies  %>
  <% include partials/dependencies/script %>
  <script src="/javascripts/login.js"></script>
</body>

</html>
