<!DOCTYPE html>
<html>

<head>
  <title><%= app.name %> - Guide</title>

  <%# meta  %>
  <% include ../partials/meta %>

  <%# css dependencies  %>
  <% include ../partials/style %>
</head>

<body>

  <div class="wrapper">
    <%# sidebar %>
    <% include ../partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include ../partials/navbar %>

      <div class="content">

        <div class="container-fluid">

          <h2>User Guide</h2>
          <p>Dictum at tempor commodo ullamcorper a lacus vestibulum.
            Lacus suspendisse faucibus interdum posuere lorem ipsum dolor
            sit. Condimentum id venenatis a condimentum vitae sapien
            pellentesque habitant morbi. Id venenatis a condimentum vitae
            sapien pellentesque habitant morbi tristique. Dictum non
            consectetur a erat nam at lectus. Morbi blandit cursus risus
            at ultrices mi tempus imperdiet. Duis ultricies lacus sed
            turpis tincidunt id aliquet risus. Elementum facilisis leo
            vel fringilla est ullamcorper. In hac habitasse platea dictumst
            quisque sagittis purus. Donec et odio pellentesque diam volutpat
            commodo sed. Ultrices dui sapien eget mi proin sed libero.
            Ut sem viverra aliquet eget. Eu sem integer vitae justo eget
            magna fermentum iaculis eu. Consectetur adipiscing elit duis
            tristique sollicitudin nibh. Sem et tortor consequat id porta
            nibh venenatis cras. Vitae nunc sed velit dignissim sodales ut.
            Diam in arcu cursus euismod quis viverra nibh.</p>

          <div class="line"></div>

        </div>

      </div>

    </div>
  </div>

  <%# js dependencies  %>
  <% include ../partials/script %>
</body>

</html>