.navbar {
    padding: 10px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin: 0 10px 30px 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background: #fff;
}

/* Styling for menu links */
.navbar .nav-item .nav-link {
    transition: all 0.2s;
    color: rgba(0, 0, 0, 0.4);
}

.navbar .nav-item .nav-link:focus {
    color: rgba(0, 0, 0, 0.4);
}

.navbar .nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.9);
}

/* Auto dropdown menu */
.navbar .dropdown-menu {
    top: 95%;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
}

/* Dropdown menu */
.navbar .dropdown-menu {
    min-width: initial;
}
