<nav id="sidebar">
    <div class="sidebar-header">
        <div class="spanning-title">
            <h3><a href="/">QuickStart
                    <span class="logo-badges">
                        <span class="logo-badge blue"></span>
                        <span class="logo-badge green"></span>
                        <span class="logo-badge orange"></span>
                    </span></a>
            </h3>
        </div>
    </div>

    <% if (req.baseUrl.match(/\/user/)) { %>
    <ul class="list-unstyled components">
        <li id="user/announcement">
            <a href="/user/announcement">Announcement</a>
        </li>
        <li id="user/dashboard">
            <a href="/user/dashboard">Dashboard</a>
        </li>
        <li id="form">
            <a href="#formSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Form</a>
            <ul class="collapse list-unstyled" id="formSubmenu">
                <li id="user/distributedForm">
                    <a href="/user/distributedForm">Distributed Form</a>
                </li>
                <li id="user/adhocForm">
                    <a href="/user/adhocForm">Adhoc Form</a>
                </li>
                <li id="user/formHistory">
                    <a href="/user/formHistory">Form History</a>
                </li>
                <li id="user/formManagement">
                    <a href="/user/formManagement">Form Management</a>
                </li>
            </ul>
        </li>
        <li id="userMgmt">
            <a href="#userMgmtSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User
                Management</a>
            <ul class="collapse list-unstyled" id="userMgmtSubmenu">
                <li id="user/user">
                    <a href="/user/user">User</a>
                </li>
                <li id="user/group">
                    <a href="/user/group">Group</a>
                </li>
            </ul>
        </li>
        <li id="dataMgmt">
            <a href="#dataMgmtSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Data
                Management</a>
            <ul class="collapse list-unstyled" id="dataMgmtSubmenu">
                <li id="user/myData">
                    <a href="/user/myData">View My Data</a>
                </li>
                <li id="user/files">
                    <a href="/user/files">Files</a>
                </li>
                <li id="user/analysis">
                    <a href="/user/analysis">Analysis</a>
                </li>
            </ul>
        </li>
        <li id="user/createuser">
            <a href="/user/createuser">Create User</a>
        </li>

    </ul>

    <% } else { %>
    <ul class="list-unstyled components">
        <li id="index">
            <a href="/">Home</a>
        </li>
        <li id="features">
            <a href="#featuresSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Features</a>
            <ul class="collapse list-unstyled" id="featuresSubmenu">
                <li>
                    <a href="/features#dataManagement">Data Management</a>
                </li>
                <li>
                    <a href="/features#dataAnalytics">Data Analytics</a>
                </li>
                <li>
                    <a href="/features#security">Security</a>
                </li>
            </ul>
        </li>
        <li id="userGuide">
            <a href="#userGuideSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User
                Guide</a>
            <ul class="collapse list-unstyled" id="userGuideSubmenu">
                <li>
                    <a href="/userGuide#page1">Page 1</a>
                </li>
                <li>
                    <a href="/userGuide#page2">Page 2</a>
                </li>
                <li>
                    <a href="/userGuide#page3">Page 3</a>
                </li>
            </ul>
        </li>
        <li id="about">
            <a href="/about">About</a>
        </li>
    </ul>
    <% } %>

    <ul class="list-unstyled CTAs">
        <%#<li>
            <a href="#" class="link1">Some Button</a>
        </li>%>
        <li>
            <a href="https://github.com/WeiLiangLOL/quickstart" class="link2">Github</a>
        </li>
    </ul>
</nav>