<!DOCTYPE html>
<html>

<head>
  <title><%= app.name %></title>

  <%# meta  %>
  <% include ../partials/dependencies/meta %>

  <%# css dependencies  %>
  <% include ../partials/dependencies/style %>
</head>

<body>

  <div class="wrapper">
    <%# sidebar %>
    <% include ../partials/sidebar %>

    <%# page content  %>
    <div id="content">

      <%# navbar %>
      <% include ../partials/navbar %>

      <div class="content">

        <div class="container-fluid">
          
          <h5 style="float: left;">Swimming</h5><h5 style="float: right;">24 May 2020</h5>
          <h2 style="clear: both;">Resume of training</h2>
          <p>Training will be resumed from 15 May 2020. Please take note of the cautionary measures
          as listed <a href=''>here</a> before coming.</p>

          <div class="line"></div>

          <h5 style="float: left;">Swimming</h5><h5 style="float: right;">18 Febuary 2020</h5>
          <h2 style="clear: both;">Cancellation of training</h2>
          <p>Hi, all training will be cancelled due to the corona virus. Keep fit and stay strong.</p>
          
          <div class="line"></div>

          <h5 style="float: left;">Team A</h5><h5 style="float: right;">5 January 2020</h5>
          <h2 style="clear: both;">Welcome to swimming team A</h2>
          <p>I am Bob Tan, your team coach. You can contact me at 91234567</p>
          <p>Training is every monday and thursday 6pm at the infinity pool. </p>
          <p>I look forward to seeing you.</p>

        </div>

      </div>

    </div>
  </div>

  <%# js dependencies  %>
  <% include ../partials/dependencies/script %>
</body>

</html>