<!DOCTYPE html>
<html>

<head>
    <%# html viewport %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= title %></title>

    <%# css dependencies  %>
    <% include partials/dependencies/style %>
    <script>
        function refreshGroupTable() {
            var table = document.getElementById('groupTable');
            table.innerHTML = '';
            listGroups((arrayOfGroups) => {
                arrayOfGroups.forEach((group) => {
                    table.insertRow(-1).insertCell(-1).innerHTML = genLink('refreshFolderTable', [group.groupname], group.groupname);
                });
            });
            showGroupTable();
        }
        function showGroupTable(){
            document.getElementById('showGroupTable').style.display = 'none';
            document.getElementById('hideGroupTable').style.display = 'inline';
            document.getElementById('groupTable').style.display = 'block';
        }
        function hideGroupTable(){
            document.getElementById('showGroupTable').style.display = 'inline';
            document.getElementById('hideGroupTable').style.display = 'none';
            document.getElementById('groupTable').style.display = 'none';
        }
        function refreshFolderTable(groupname) {
            var table = document.getElementById('folderTable');
            table.innerHTML = '';
            readDirectory(groupname, (directory) => {
                table.insertRow(-1).insertCell(-1).innerHTML = genLink('appendFolderTable', [directory[0].directoryid], directory[0].directoryname);
            });
        }
        function appendFolderTable() {

        }
        function showFolderTable(){
            document.getElementById('showFolderTable').style.display = 'none';
            document.getElementById('hideFolderTable').style.display = 'inline';
            document.getElementById('folderTable').style.display = 'block';
        }
        function hideFolderTable(){
            document.getElementById('showFolderTable').style.display = 'inline';
            document.getElementById('hideFolderTable').style.display = 'none';
            document.getElementById('folderTable').style.display = 'none';
        }
    </script>
</head>
<body onload='refreshGroupTable()'>

    <div class="wrapper">
        <%# sidebar %>
        <% include partials/sidebar %>

        <%# page content  %>
        <div id="content">

            <%# navbar %>
            <% include partials/navbar %>

            <div class="content">

                <div class="container-fluid">

                    <h2 style='display: inline;'>Group</h2>
                    <button onclick='showGroupTable()' id='showGroupTable' style='display: none;'>show</button>
                    <button onclick='hideGroupTable()' id='hideGroupTable'>hide</button>
                    <button onclick='refreshGroupTable()'>Refresh</button>
                    <table id='groupTable'>
                    </table>

                    <div></div>

                    <h2 style='display: inline;'>Folder</h2>
                    <button onclick='showFolderTable()' id='showFolderTable' style='display: none;'>show</button>
                    <button onclick='hideFolderTable()' id='hideFolderTable'>hide</button>
                    <table id='folderTable'>
                    </table>


                </div>

            </div>

        </div>
    </div>

    <%# js dependencies  %>
    <% include partials/dependencies/script %>
</body>
</html>
